<div class="rounded-full opacity-50 board-space"
       data-gameplay-drag-target="recievesPlayToBoard"
       data-gameplay-drag-board-position-param="<%=position%>"
       data-action="drop->gameplay-drag#drop dragenter->gameplay-drag#dragEnter dragover->gameplay-drag#dragOver dragleave->gameplay-drag#dragLeave dragend->gameplay-drag#dragEnd"
  >
</div>
