<div class="w-5 h-52 opacity-50 rounded-full bg-clip-padding px-5 board-space -mx-2.5 hidden"
       data-drag-party-play-target="boardSpace"
       data-id="<%=position%>"
       data-action="drop->drag-party-play#drop dragenter->drag-party-play#dragEnter dragover->drag-party-play#dragOver dragleave->drag-party-play#dragLeave dragend->drag-party-play#dragEnd"
  >
</div>
