<div class="opacity-50 rounded-full board-space"
       data-drag-party-play-target="boardSpace"
       data-id="<%=position%>"
       data-action="drop->drag-party-play#drop dragenter->drag-party-play#dragEnter dragover->drag-party-play#dragOver dragleave->drag-party-play#dragLeave dragend->drag-party-play#dragEnd"
  >
</div>
