<div class="hidden" id="animationsHidden"
data-animations-target="battleAnimationValues"
data-attacker-value='<%= JSON(attacker)%>'
data-defender-value='<%= JSON(defender)%>'
data-dead-cards='<%=dead_cards%>'
  >
</div>
