<div class="hidden" id="animationsHidden"
data-animations-target="drawCardAnimationValues"
data-player-identifier='<%=tag%>'
  >
</div>
<%=render(card,
         locals: { class: 'relative  z-50 -ml-10 inline-block',
                   id: "fp-drawn-card",
                   decorator_data_method: :data_fp_drawn_card}) if card%>
