<div class="hidden" id="animationsHidden"
data-animations-target="fromHandAnimationValues"
data-player-identifier='<%=hand%>'
data-played-card-id='<%=played_card_id%>'
data-target-id='<%=target_id%>'
  >
</div>
