<div>
  <h1 class="font-bold text-4xl"> Welcome To Card Game Page</h1>
  <p>Placeholder need new game, view cards, make deck, friends, etc</p>
  <%= link_to  "View My Decks", account_decks_path %>
  <br>
  this is a temporary button i promise
  <%= button_to "new game", games_path(deck_one_id: 1, deck_two_id: 3)%>
</div>
