<%=turbo_frame_tag id="cards_collection" do %>
  <h1 class="text-4xl font-bold">List of all <%="#{params[:name]} "%>Cards</h1>
  <section class="flex flex-row flex-wrap gap-x-5 gap-y-2">
    <%@card_references.each do |card|%>
      <%= button_to insert_card_account_deck_path(id: @account_deck&.id, card_id: card.id) do %>
        <%= render card, cached: true %>
      <% end %>
    <% end %>
  </section>
<% end %>
