<script id="game-data">
  const temporaryImagePath = "<%= asset_path('cardplaceholder.webp') %>";
  const player = <%= @first_person_player.id %>
  const game = <%= @game.id %>
</script>
<div id="game-container" class="absolute bottom-0 w-full h-full mx-auto my-auto bg-blackish overscroll-y-none children-in-game-perspective" data-controller="animations line-drawer">
</div>
