<%= turbo_stream_from @game, current_user%>
<div id="game-animations-container" class="w-full h-full my-auto relative max-h-screen overflow-clip">
  <div id="<%="#{dom_id(@game)}_for_#{current_user.id}"%>" class="w-full h-full my-auto bg-white absolute" data-controller="animations">
    <%= render @game, first_person_player: @first_person_player,
                      opposing_player: @opposing_player,
                      last_played_card: nil %>
  </div>
</div>
