.game-perspective-3d {
  transform: rotatex(35deg);
  transform-style: preserve-3d;
}

.children-in-game-perspective {
  perspective: 93.75rem;
}

.preserve-3d{
  transform-style: preserve-3d;
}

#fp-cards-hand{
  position:fixed;
  bottom:0;
  transform: translateY(50%);
  transition: transform 0.5s ease;
}

#fp-cards-hand:hover{
  transform: translateY(0%)
}
.deck-face{
  position: absolute;
  background-color: #49475B;
  border: 3px solid black;
}

#decks-container{
  perspective: 93.75rem;
  transform-style: preserve-3d;
  width: 180px;
}

.deck{
  position: relative;
  transform-style: preserve-3d;
  height: 250px;
  width: 180px;
  transform: translateZ(-50px);
  overflow: visible !important;
}

.deck-front  {
  background-image: linear-gradient(0deg, #49475b 41.67%, #000000 41.67%, #000000 50%, #49475b 50%, #49475b 91.67%, #000000 91.67%, #000000 100%);
  background-size: 16.00px 16.00px;  
}
.deck-left   {
  background-image: linear-gradient(90deg, #49475b 41.67%, #000000 41.67%, #000000 50%, #49475b 50%, #49475b 91.67%, #000000 91.67%, #000000 100%);
  background-size: 16.00px 16.00px; 
}
.deck-bottom{
  height: 250px;
  width: 180px;
}
.deck-empty{
  position: absolute;
  background-color: red;
  border: 3px solid black;
}