@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


@keyframes shakeIndicator {
  0% { transform: translate(-51%, -50%) rotate(20deg); }
  10% { transform: translate(-47%, -60%) rotate(25deg); }
  20% { transform: translate(-49%, -70%) rotate(25deg); }
  30% { transform: translate(-50%, -80%) rotate(20deg); }
  40% { transform: translate(-51%, -90%) rotate(25deg); }
  51% { transform: translate(-47%, -100%) rotate(25deg); }
  60% { transform: translate(-47%, -110%) rotate(20deg); }
  70% { transform: translate(-51%, -120%) rotate(25deg); opacity: 1; }
  80% { transform: translate(-49%, -130%) rotate(25deg); }
  90% { transform: translate(-50%, -140%) rotate(20deg); }
  100% { transform: translate(-50%, -150%) rotate(25deg); opacity: 0}
}


@keyframes played-card-animation {
  0% { transform: translate(-100vw, -100vh) scale(1.0); }
  10% { transform :scale(1.0);}
  15% { transform: translate(0, 0) scale(1.5); }
  80% { transform: translate(0, 0) scale(1.5); }
  85% { transform :scale(1.0);}
  100% { transform: translate(-100vw, 0) scale(1.0); }
}

@keyframes shift-cards-left {
  from { transform: translate(0px, 0px); }
  to { transform: translate(-82px, 0px); }
}

@keyframes shift-cards-right {
  from { transform: translate(0px, 0px); }
  to { transform: translate(82px, 0px); }
}

@keyframes card-from-hand{
  from {opacity: 1}
  to {opacity: 0;}
}

@keyframes card-fade-in{
  from   {transform: scale(.25);opacity: 0}
  to  { transform: scale(1.0);opacity: 1;}
}

@keyframes card-death{
  0% { transform:  scaleY(1.0) translate(1px, 1px) rotate(0deg); opacity:1; }
  10% { transform: scaleY(0.9) translate(-1px, -2px) rotate(-1deg); }
  20% { transform: scaleY(0.9) translate(-3px, 0px) rotate(1deg); }
  30% { transform: scaleY(0.8) translate(3px, 2px) rotate(0deg); }
  40% { transform: scaleY(0.8) translate(1px, -1px) rotate(1deg); }
  50% { transform: scaleY(0.7) translate(-1px, 2px) rotate(-1deg); }
  60% { transform: scaleY(0.7) translate(-3px, 1px) rotate(0deg); }
  70% { transform: scaleY(0.6) translate(3px, 1px) rotate(-1deg); }
  80% { transform: scaleY(0.6) translate(-1px, -1px) rotate(1deg); }
  90% { transform: scaleY(0.5) translate(1px, 2px) rotate(0deg); }
  100% {transform: scaleY(0.5) translate(1px, -2px) rotate(-1deg); opacity: 0; }
}

@keyframes move-cards-down {
  from { transform: translate(0px, 0); }
  to { transform: translate(0, 50vh); }
}

@keyframes drawn-card {
  100% { transform: rotateY(0deg) translate(0, 0); }
  /*100% { transform: rotateY(1turn); }*/
}