@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  @apply hidden absolute;
}

.has-tooltip:hover .tooltip {
  @apply block z-50;
}

.board-animatable {
  transition: transform 0.15s linear;
  transform: translate(0px, 0);
  will-change: transform;
}
.playing-card {
  transition: transform 0.25s linear;
  transform: translate(0px, 0);
  will-change: transform;
}

.shake{
  animation: shake 0.5s;
}

.dying-card{
  transition: width 0.5s;
  opacity: 0;
  animation: card-death 0.5s;
  animation-fill-mode: forwards;
}

#animated-card{
  animation: played-card-animation 5.0s;
  animation-fill-mode: forwards;
}

#fp-cards-hand{
  transition: bottom 0.3s ease-in;
}

.last-drawn{
  z-index: 50;
  transform: rotate3d(0, 1, 0, 90deg);
  transform: rotate3d(1, 0, 0, 20deg);
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  animation: drawn-card 1s;
  animation-fill-mode: forwards;
}

.last-drawn:after {
  backface-visibility: hidden;
  z-index: 20;
  transform: rotateY(180deg);
  content: '';
  right: 0px;
  bottom: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #334155;
}

@keyframes drawn-card {
  100% { transform: rotateY(0deg) translate(0, 0); }
  /*100% { transform: rotateY(1turn); }*/
}

.card-to-left{
  animation: shift-cards-left 0.5s;
  animation-fill-mode: forwards;
}

.card-to-right{
  animation: shift-cards-right 0.5s;
  animation-fill-mode: forwards;
}

.card-from-hand{
  animation: card-from-hand 0.5s;
  animation-fill-mode: forwards;
  transition: transform 0.4s linear;
  transform: translate(0px, 0);
  will-change: transform;
}

.last-played-card{
  opacity: 0;
  transform: scale(0.25);
  animation: card-fade-in 0.5s;
  animation-fill-mode: forwards;
}

.move-card-down{
  animation: move-cards-down 2s;
  animation-fill-mode: forwards;
}

.fade-out{
  animation: card-from-hand 1s;
  animation-fill-mode: forwards;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes played-card-animation {
  0% { transform: translate(-100vw, -100vh) scale(1.0); }
  10% { transform :scale(1.0);}
  15% { transform: translate(0, 0) scale(1.5); }
  80% { transform: translate(0, 0) scale(1.5); }
  85% { transform :scale(1.0);}
  100% { transform: translate(-100vw, 0) scale(1.0); }
}

@keyframes shift-cards-left {
  from { transform: translate(0px, 0px); }
  to { transform: translate(-82px, 0px); }
}

@keyframes shift-cards-right {
  from { transform: translate(0px, 0px); }
  to { transform: translate(82px, 0px); }
}

@keyframes card-from-hand{
  from {opacity: 1}
  to {opacity: 0;}
}

@keyframes card-fade-in{
  from   {transform: scale(.25);opacity: 0}
  to  { transform: scale(1.0);opacity: 1;}
}

@keyframes card-death{
  0% { transform:  scaleY(1.0) translate(1px, 1px) rotate(0deg); opacity:1; }
  10% { transform: scaleY(0.9) translate(-1px, -2px) rotate(-1deg); }
  20% { transform: scaleY(0.9) translate(-3px, 0px) rotate(1deg); }
  30% { transform: scaleY(0.8) translate(3px, 2px) rotate(0deg); }
  40% { transform: scaleY(0.8) translate(1px, -1px) rotate(1deg); }
  50% { transform: scaleY(0.7) translate(-1px, 2px) rotate(-1deg); }
  60% { transform: scaleY(0.7) translate(-3px, 1px) rotate(0deg); }
  70% { transform: scaleY(0.6) translate(3px, 1px) rotate(-1deg); }
  80% { transform: scaleY(0.6) translate(-1px, -1px) rotate(1deg); }
  90% { transform: scaleY(0.5) translate(1px, 2px) rotate(0deg); }
  100% {transform: scaleY(0.5) translate(1px, -2px) rotate(-1deg); opacity: 0; }
}

@keyframes move-cards-down {
  from { transform: translate(0px, -50vh); }
  to { transform: translate(0, 0); }
}