name: Card Game Model RSpec Tests
on:
  push:
    paths:
      - "app/**"
  pull_request:
    paths:
      - "app/**"
jobs:
  build:
    name: CI
    runs-on: ubuntu-latest
    env:
      app-dir: ./'app
    services:
      postgres:
        image: postgres:11.6
        ports: ["5432:5432"]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      redis:
        image: redis
        ports: ["6379:6379"]
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - run: bundle exec rake
      - name: Install PostgreSQL
        run: sudo apt-get -yqq install libpq-dev

      - name: Setup Database
        working-directory: ${{env.app-dir}}
        env:
          RAILS_ENV: test
          PGHOST: localhost
          PGUSER: postgres
        run: bin/rails db:create db:schema:load db:seed
      - name: Build and test with rspec
        working-directory: ${{env.app-dir}}
        env:
          RAILS_ENV: test
          PGHOST: localhost
          PGUSER: postgres
        run: bundle exec rspec spec:models
